
.products_section{
    display: flex;
    padding: 40px 60px;
    height: fit-content;
    max-width: 1200px;
    margin: 0 auto;
    transition: padding .4s ease;
}


.products_section > section{
    flex: 1;
}


@media (max-width: 850px) {
    .products_section{
        flex-direction: column;
    }
}

@media (max-width: 740px){

    .products_section{
        padding: 40px 20px;
    }

}