

.feature_Section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: rgb(240,244,248);
    padding: 90px 0px;
}
.feature_Section > h1{
    position: relative;
    font-size: 42px;
}

.feature_Section > h1::after{
    content: '';
    position: absolute;
    width: 100px;
    height: 4px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    background-color: rgb(171,123,94);
}

.featured-products-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    width: 90%;
}

.feature-product > img{
    object-fit: cover;
    width: 100%;
    height: 220px;
}
.feature-product > div{
    display: flex;
    justify-content: space-between;
}

.feature-product > div > p {
    font-size: 16px;
    letter-spacing: 1.5px;
}
.feature-product > div > p:nth-of-type(2){
    color: rgb(199,141,95);
}

.feature_Section > button{
    background-color: rgb(171,123,94);
    color: white;
    padding: 10px 15px;
    border: none;
    letter-spacing: 1.3px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .4s ease, color .4s ease;
}
.feature_Section > button:hover{
    color: rgb(86, 65, 50);
    background-color: rgb(202, 167, 142);
}

@media(max-width: 1200px) {
    .featured-products-container{
        grid-template-columns: 1fr 1fr;
    }
}
@media(max-width: 990px) {
    .featured-products-container{
        grid-template-columns: 1fr;
    }
}