
.about_Section{
    padding-bottom: 100px;
}
.about_Section > div:nth-of-type(1){
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 60px;
    gap: 50px;
    max-width: 1200px;
    transition: padding .3s ease;
    margin: 0px auto;
}
.about_Section > div:nth-of-type(1) > img{
    width: 100%;
    max-width: 600px;
    height: 500px;
    object-fit: cover;
    border-radius: 5px;
}



.about_Section > div:nth-of-type(1) > .ourStory > h1{
    position: relative;
    font-size: 40px;
    margin-bottom: 40px;
    letter-spacing: 1px;
    transition: font-size .4s ease;
}
.about_Section > div:nth-of-type(1) > .ourStory > h1::after{
    content: '';
    position: absolute;
    background-color: rgb(171,123,94);
    width: 100px;
    height: 4px;
    bottom: -10px;
    left: 0;
}
.about_Section > div:nth-of-type(1) > .ourStory > p{
    color: rgba(81, 113, 150, 0.849);
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: .5px;
}



@media (max-width: 990px){
    .about_Section > div:nth-of-type(1){
        grid-template-columns: 1fr;
    }
    .about_Section > div:nth-of-type(1) > img{
        max-width: none;
    }
}
@media (max-width: 740px){
    .about_Section > div:nth-of-type(1){
        padding: 60px 20px;
    }
    .about_Section > div:nth-of-type(1) > .ourStory > h1{
        font-size: 30px;
    }
}

