
footer{
    background-color: rgb(35,35,34);
    padding: 30px 0px;
    text-align: center;
}

footer > p{
    color: white;
    letter-spacing: 1.5px;
}
footer > p > .comfySloth{
    color: rgb(171,122,73);
}

@media (max-width: 740px){
    footer > p {
        font-size: 14px;
    }
}