
.colors-container{
    display: flex;
    gap: 50px;
    align-items: center;
}
.colors-container > .colors{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: antiquewhite;
}
.colors-container > .colors > div{
    cursor: pointer;
    opacity: .7;
    height: 20px;
    width: 20px;
    border-radius: 100%;
}

.red{
    background-color: rgb(246, 98, 98);
}

.green{
    background-color: rgb(95, 244, 95)
}

.blue{
    background-color: rgb(85, 85, 255);
}

.black{
    background-color: rgb(62, 62, 62);
}

.yellow{
    background-color: rgb(255, 206, 71);
}

.colors-container > .colors > .active{
    position: relative;
    opacity: 1;
}
.colors-container > .colors > .active::after{
    position: absolute;
    content: '✔';
    color: white;
    font-size: 12px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.product_section{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    padding: 80px 60px;
    margin: auto;
    transition: padding .4s ease;
}


.product_section > .backToProductsBtn{
    background-color: rgb(171,123,94);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px;
    max-width: 180px;
    cursor: pointer;
    letter-spacing: 1.5px;
    transition: background-color .4s ease, color .4s ease;
}
.product_section > .backToProductsBtn:hover{
    background-color: rgb(220, 187, 167);
    color: rgb(79, 79, 79);
}


@media (max-width: 740px) {
    .product_section{
        padding: 80px 20px;
    }
}